.link {
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.title {
    font-family: Verdana;
    font-size: 30px;
    fill: white;
    stroke: blue;
}

.heading {
    width: 110%;
    height: 15%;
    position: fixed;
    top: -5px;
    left: -5px;
}

#network {
    top: 20px;
    height: 1000px;
    width: 100%;
}

