.link {
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.title {
    font-family: Verdana;
    font-size: 30px;
    fill: white;
    stroke: blue;
}

.heading {
    width: 110%;
    height: 13%;
    position: absolute;
    top: -5px;
    left: -5px;
}

body {
    background-image: url("../images/westeros_transparent.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

#network {
    top: 70px;
    height: 700px;
    width: 100%;
}
